<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <ion-icon name="git-pull-request-outline" class="logo-icon"></ion-icon>
        <h1>GitHub PR Tracker</h1>
        <p>Sign in to access your pull request dashboard</p>
      </div>

      <div class="login-form">
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input 
            type="text" 
            [(ngModel)]="username" 
            placeholder="Enter your username"
            (keyup.enter)="login()"
            [disabled]="loading">
          </ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input 
            type="password" 
            [(ngModel)]="password" 
            placeholder="Enter your password"
            (keyup.enter)="login()"
            [disabled]="loading">
          </ion-input>
        </ion-item>
        
        <ion-button 
          expand="block" 
          (click)="login()"
          [disabled]="loading || !username || !password"
          class="login-button">
          <span *ngIf="!loading">Sign In</span>
          <span *ngIf="loading">Signing in...</span>
        </ion-button>
      </div>

      <div class="login-footer">
        <p>By signing in, you agree to our Terms of Service</p>
      </div>
    </div>
  </div>
</ion-content>